html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body{
    width: 100%;
    height: 100%;
    background-color:floralwhite;
    
}

header{
    background-color:cadetblue;
    margin:0 auto;
    padding:10px;
    width:90%;
    height:100px;
    text-align:center;
    font-size:48px;
}


nav{
    margin: 0 auto;
    width: 92.5%;
    height: 100%;
    background-color:cadetblue;
    font-size:;
    
}

ul{
    display:inline-block;
    width:90%;
    height: 
    background-color:cadetblue;
    padding:inherit;
    font-size: 15px;
    text-align:left;
    
}
li{     
display: inline-block;
    
}

li:hover{
    color: black;
}
li{
    color: azure;
}

#a{
    width: 10%;
    height:;
    background-color:cadetblue;
    padding:;
    font-size: 15px;
    text-align:left;
}

#b{
    width: 10%;
    height:;
    background-color:cadetblue;
    padding:;
    font-size: 15px;
    text-align:left;  
}

#c{
    width: 10%;
    height:;
    background-color:cadetblue;
    padding:;
    font-size: 15px;
    text-align:left;
}

#e{
    width: 10%;
    height:;
    background-color:cadetblue;
    padding:;
    font-size: 15px;
    text-align:left;
}

#f{
    width: 10%;
    height:;
    background-color:cadetblue;
    padding:;
    font-size: 15px;
    text-align:left;
}

#g{
    width: 10%;
    height:;
    background-color:cadetblue;
    padding:;
    font-size: 15px;
    text-align:left;
}

#h{
    width: 10%;
    height:;
    background-color:cadetblue;
    padding:;
    font-size: 15px;
    text-align:left;
}

#two{
    padding:;
    background-color:snow;
    margin:10px;
    padding:8px;
    width:92.5%;
    height:92.5%;
 
}

#three{
    background-color:cornsilk;
    margin:0 auto;
    padding:10px;
    width:90%;
    height:250px;
 
}

#four{
    background-color:greenyellow;
    margin:0 auto;
    padding:10px;
    width:90%;
    height:250px;
}

#four{
    background-color:white;
    margin:0 auto;
    padding:10px;
    width:90%;
    height:100px;
    text-align:center;
    font-size:48px; 
}
#column1{
    margin: 0 auto;
    background-color: white;
    width: calc(95%/3);
    float:left;
    padding:5px;
    text-align: left;
    font-size: 15px;
}

#column2{
    margin: 0 auto;
    background-color:white;
    width: calc(95%/3);
    float:left;
    padding:5px;
    text-align: left;
    font-size: 15px;
    
}

#column3{
    margin: 0 auto;
    background-color: white;
    width: calc(95%/3);
    float:right;
    padding:5px;
    text-align: left;
    font-size: 15px;
}

p{
    font-size:13px
    
}








