html, body{
    height:100%;
    width:100%;
}

body{
    background-color:lightgray;
}

header{
    
    background-color: #728aa5;
    text-align: center;
     
}

div{
    display: block;`
}

nav{
    background-color: #728aa5;
    margin: 0 auto;
    padding: 0 auto;
    
}

li{
    display: inline-block;
    
    
}

/*    NAVIGATION BAR STYLES HERE*/

.btn > a{
    
    text-decoration: none;
}
.btn > a:hover{
    color:skyblue;
    background-color:white;
    transition: background 1s;
    border-radius:.9rem;
    
    
}

.btn{
    background-color: #728aa5;
    color:ghostwhite;
    padding: .3rem;
    font-size: 1.2rem;
    border: none;
    cursor: auto;
    
}


.dropdown{
    position: relative;
    display: inline-block;
}


.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#sone{
    background-color: white;
    margin:0 auto;
    width:100%;
    text-align: center;
    padding:0;
}
a{
    color:white;
} 
#stwo{
    background-color: white;
    margin:0 auto;
    width:100%;
    text-align: left;
    padding:0;
    height: 650px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 2px #999;
}
    
article:nth-of-type(1){
    float:left;
    height:7em;
    width:90%;
    margin: 0 auto;
    width:calc(100%/3);
    margin-bottom: 5px;
    text-align: left;
    background-color: white;
    
    
}
article:nth-of-type(2){
    height:7em;
    width:90%;
    margin: 0 auto;
    width:calc(100%/3);
    margin-bottom: 10px;
    text-align: left;
    float: left;
    background-color: white;
    
    
}
article:nth-of-type(3){
    height:7em;
    width:90%;
    margin: 0 auto;
    width:calc(100%/3);
    margin-bottom: 5px;
    text-align: left;
    display:block;
    float: right;
    background-color: gray;
    
    
}

#section1{
    background-color: white;
    margin:0 auto;
    width:100%;
    text-align: left;
    padding:0;
    height: 300px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 2px #999;
}
}
footer{
    clear:both;
    font: 14px;
    margin: 0 auto;
    text-shadow: 1px 1px #fff;
    width: 100%;
    
}
#back{
    
    text-align: center;
    cursor: auto;
    float:left;
    
}
#rtp{
    color:black;
}
#copy{
    float: right;
    text-align: right;
    width: 75%;
}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 250%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}